﻿<div id="TomeOfMagic_Container" class="back-view">
    <div id="TomeOfMagic">
        <nav id="Chapters">
            <div class="pages">
                <div id="leftPage" class="pageLeft"></div>
                <div id="rightPage" class="pageRight"></div>
            </div>
        </nav>
    </div>
</div>