﻿#TomeOfMagic_Container {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    overflow: hidden;

    z-index: 0;
}

#Chapters {
    top: 50%;
    width: 600px;
    height: 350px;

    background-color: burlywood;
    background-size: contain;
}

.pages {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    line-height: normal;
}

.pages .pageRight,
.pages .pageLeft {
    flex: 1;
}

.pages .pageRight {
    padding-left: 5px;
}

.pages .pageLeft {
    padding-right: 5px;
}

.indexMenu {
    display: flex;
    flex-wrap: wrap;
}

.indexMenu div {
    flex: 25%;
}